<div style="background-image: url(assets/images/bg.jpg);
height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; padding-top: 15px;">

  <app-header></app-header>


  <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
          <input type="text" size="40px" name="fname" placeholder="Fname" ngModel>
          <br><br>
          <input type="text" size="40px"  name="lname" placeholder="Lname" ngModel>
          <br><br>
          <input type="text" size="40px" name="email" placeholder="Email" ngModel>
          <br><br>
          <input type="text" size="40px" name="contact" placeholder="Contact No." ngModel>
          <br><br>
          <input type="text" size="40px" name="city" placeholder="City" ngModel>
          <br><br>
          <input type="text" size="40px" name="state" placeholder="State" ngModel>
          <br><br>
  
         <p> <button type="submit">Submit</button></p>
          </form>
        </div>
      <div class="col-md-4"></div>
    </div>
  </div>

  <app-footer></app-footer>

</div>